<div class="product-faqs-section faqs-page">
    <div class="page-width">
        <div class="faqs-image">
          {% for block in section.blocks %}
            {% if block.type == 'faq_image' %}
              <img src="{{ block.settings.faq_image | img_url:'570x' }}"/>
            {% endif %}
          {% endfor %}
        </div>
        <div class="faqs-content">
            <p class="h5">{{ section.settings.subtitle }}</p>
            <h3 class="faqs-title">{{ section.settings.title }}</h3>

            <div class="questions-wrapper">

              <h2>General FAQs</h2>
              {% for block in section.blocks %}
                {% if block.type == 'q_general' %}
                  <div class="faq-question {% if forloop.first == true %} question-open{% endif %}">
                      <div class="faq-q">
                          <span class="faq-q-text">{{ block.settings.question }}</span>
                          <span class="faq-icon faq-icon__minus">
                              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"><g><g><g>
                                  <path fill="#111" d="M20.664 13.4H7.8c-.593 0-1.081.493-1.081 1.102 0 .605.484 1.103 1.081 1.103h12.867c.594 0 1.082-.493 1.082-1.103-.005-.605-.488-1.102-1.086-1.102z"/></g><g>
                                  <path fill="#111" d="M27.966 14.5a14.134 14.134 0 0 1-4.023 9.9 13.715 13.715 0 0 1-4.365 2.998 13.411 13.411 0 0 1-5.345 1.102c-1.855 0-3.653-.372-5.346-1.102A13.642 13.642 0 0 1 4.522 24.4 14.133 14.133 0 0 1 .5 14.5c0-1.891.365-3.724 1.081-5.45A13.938 13.938 0 0 1 4.522 4.6a13.714 13.714 0 0 1 4.365-2.998A13.41 13.41 0 0 1 14.233.5c1.855 0 3.653.372 5.35 1.102a13.643 13.643 0 0 1 4.365 2.999 14.01 14.01 0 0 1 2.94 4.45 14.21 14.21 0 0 1 1.078 5.449zm-1.433 0c0-6.915-5.517-12.54-12.3-12.54-6.783.001-12.3 5.625-12.3 12.54 0 6.915 5.517 12.54 12.3 12.54s12.3-5.625 12.3-12.54z"/></g></g></g>
                              </svg>
                          </span>
                          <span class="faq-icon faq-icon__plus">
                              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"><g><g><g>
                                  <path fill="#111" d="M20.664 13.396h-5.35V7.942c0-.605-.484-1.102-1.081-1.102-.594 0-1.082.493-1.082 1.102v5.459h-5.35c-.593 0-1.081.493-1.081 1.102 0 .605.484 1.103 1.081 1.103h5.355v5.458c0 .605.483 1.102 1.081 1.102.593 0 1.081-.493 1.081-1.102v-5.463h5.355c.593 0 1.081-.493 1.081-1.102-.009-.605-.492-1.103-1.09-1.103z"/></g><g>
                                  <path fill="#111" d="M27.966 14.5a14.134 14.134 0 0 1-4.023 9.9 13.715 13.715 0 0 1-4.365 2.998 13.411 13.411 0 0 1-5.345 1.102c-1.855 0-3.653-.372-5.346-1.102A13.642 13.642 0 0 1 4.522 24.4 14.133 14.133 0 0 1 .5 14.5c0-1.891.365-3.724 1.081-5.45A13.938 13.938 0 0 1 4.522 4.6a13.714 13.714 0 0 1 4.365-2.998A13.41 13.41 0 0 1 14.233.5c1.855 0 3.653.372 5.345 1.102a13.643 13.643 0 0 1 4.365 2.999 14.134 14.134 0 0 1 4.022 9.9zm-1.433 0c0-6.915-5.517-12.54-12.3-12.54-6.783.001-12.3 5.625-12.3 12.54 0 6.915 5.517 12.54 12.3 12.54s12.3-5.625 12.3-12.54z"/></g></g></g>
                              </svg>
                          </span>
                      </div>
                      <div class="faq-a">
                          {{ block.settings.answer }}
                      </div>
                  </div>
                {% endif %}
              {% endfor %}

                <h2>Bean Bag Specifications</h2>
                {% for block in section.blocks %}
                  {% if block.type == 'q_spec' %}
                    <div class="faq-question {% if forloop.first == true %} question-open{% endif %}">
                        <div class="faq-q">
                            <span class="faq-q-text">{{ block.settings.question }}</span>
                            <span class="faq-icon faq-icon__minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"><g><g><g>
                                    <path fill="#111" d="M20.664 13.4H7.8c-.593 0-1.081.493-1.081 1.102 0 .605.484 1.103 1.081 1.103h12.867c.594 0 1.082-.493 1.082-1.103-.005-.605-.488-1.102-1.086-1.102z"/></g><g>
                                    <path fill="#111" d="M27.966 14.5a14.134 14.134 0 0 1-4.023 9.9 13.715 13.715 0 0 1-4.365 2.998 13.411 13.411 0 0 1-5.345 1.102c-1.855 0-3.653-.372-5.346-1.102A13.642 13.642 0 0 1 4.522 24.4 14.133 14.133 0 0 1 .5 14.5c0-1.891.365-3.724 1.081-5.45A13.938 13.938 0 0 1 4.522 4.6a13.714 13.714 0 0 1 4.365-2.998A13.41 13.41 0 0 1 14.233.5c1.855 0 3.653.372 5.35 1.102a13.643 13.643 0 0 1 4.365 2.999 14.01 14.01 0 0 1 2.94 4.45 14.21 14.21 0 0 1 1.078 5.449zm-1.433 0c0-6.915-5.517-12.54-12.3-12.54-6.783.001-12.3 5.625-12.3 12.54 0 6.915 5.517 12.54 12.3 12.54s12.3-5.625 12.3-12.54z"/></g></g></g>
                                </svg>
                            </span>
                            <span class="faq-icon faq-icon__plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"><g><g><g>
                                    <path fill="#111" d="M20.664 13.396h-5.35V7.942c0-.605-.484-1.102-1.081-1.102-.594 0-1.082.493-1.082 1.102v5.459h-5.35c-.593 0-1.081.493-1.081 1.102 0 .605.484 1.103 1.081 1.103h5.355v5.458c0 .605.483 1.102 1.081 1.102.593 0 1.081-.493 1.081-1.102v-5.463h5.355c.593 0 1.081-.493 1.081-1.102-.009-.605-.492-1.103-1.09-1.103z"/></g><g>
                                    <path fill="#111" d="M27.966 14.5a14.134 14.134 0 0 1-4.023 9.9 13.715 13.715 0 0 1-4.365 2.998 13.411 13.411 0 0 1-5.345 1.102c-1.855 0-3.653-.372-5.346-1.102A13.642 13.642 0 0 1 4.522 24.4 14.133 14.133 0 0 1 .5 14.5c0-1.891.365-3.724 1.081-5.45A13.938 13.938 0 0 1 4.522 4.6a13.714 13.714 0 0 1 4.365-2.998A13.41 13.41 0 0 1 14.233.5c1.855 0 3.653.372 5.345 1.102a13.643 13.643 0 0 1 4.365 2.999 14.134 14.134 0 0 1 4.022 9.9zm-1.433 0c0-6.915-5.517-12.54-12.3-12.54-6.783.001-12.3 5.625-12.3 12.54 0 6.915 5.517 12.54 12.3 12.54s12.3-5.625 12.3-12.54z"/></g></g></g>
                                </svg>
                            </span>
                        </div>
                        <div class="faq-a">
                            {{ block.settings.answer }}
                        </div>
                    </div>
                  {% endif %}
                {% endfor %}

                <h2>Shipping and Delivery</h2>
                {% for block in section.blocks %}
                  {% if block.type == 'q_shipping' %}
                    <div class="faq-question {% if forloop.first == true %} question-open{% endif %}">
                        <div class="faq-q">
                            <span class="faq-q-text">{{ block.settings.question }}</span>
                            <span class="faq-icon faq-icon__minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"><g><g><g>
                                    <path fill="#111" d="M20.664 13.4H7.8c-.593 0-1.081.493-1.081 1.102 0 .605.484 1.103 1.081 1.103h12.867c.594 0 1.082-.493 1.082-1.103-.005-.605-.488-1.102-1.086-1.102z"/></g><g>
                                    <path fill="#111" d="M27.966 14.5a14.134 14.134 0 0 1-4.023 9.9 13.715 13.715 0 0 1-4.365 2.998 13.411 13.411 0 0 1-5.345 1.102c-1.855 0-3.653-.372-5.346-1.102A13.642 13.642 0 0 1 4.522 24.4 14.133 14.133 0 0 1 .5 14.5c0-1.891.365-3.724 1.081-5.45A13.938 13.938 0 0 1 4.522 4.6a13.714 13.714 0 0 1 4.365-2.998A13.41 13.41 0 0 1 14.233.5c1.855 0 3.653.372 5.35 1.102a13.643 13.643 0 0 1 4.365 2.999 14.01 14.01 0 0 1 2.94 4.45 14.21 14.21 0 0 1 1.078 5.449zm-1.433 0c0-6.915-5.517-12.54-12.3-12.54-6.783.001-12.3 5.625-12.3 12.54 0 6.915 5.517 12.54 12.3 12.54s12.3-5.625 12.3-12.54z"/></g></g></g>
                                </svg>
                            </span>
                            <span class="faq-icon faq-icon__plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"><g><g><g>
                                    <path fill="#111" d="M20.664 13.396h-5.35V7.942c0-.605-.484-1.102-1.081-1.102-.594 0-1.082.493-1.082 1.102v5.459h-5.35c-.593 0-1.081.493-1.081 1.102 0 .605.484 1.103 1.081 1.103h5.355v5.458c0 .605.483 1.102 1.081 1.102.593 0 1.081-.493 1.081-1.102v-5.463h5.355c.593 0 1.081-.493 1.081-1.102-.009-.605-.492-1.103-1.09-1.103z"/></g><g>
                                    <path fill="#111" d="M27.966 14.5a14.134 14.134 0 0 1-4.023 9.9 13.715 13.715 0 0 1-4.365 2.998 13.411 13.411 0 0 1-5.345 1.102c-1.855 0-3.653-.372-5.346-1.102A13.642 13.642 0 0 1 4.522 24.4 14.133 14.133 0 0 1 .5 14.5c0-1.891.365-3.724 1.081-5.45A13.938 13.938 0 0 1 4.522 4.6a13.714 13.714 0 0 1 4.365-2.998A13.41 13.41 0 0 1 14.233.5c1.855 0 3.653.372 5.345 1.102a13.643 13.643 0 0 1 4.365 2.999 14.134 14.134 0 0 1 4.022 9.9zm-1.433 0c0-6.915-5.517-12.54-12.3-12.54-6.783.001-12.3 5.625-12.3 12.54 0 6.915 5.517 12.54 12.3 12.54s12.3-5.625 12.3-12.54z"/></g></g></g>
                                </svg>
                            </span>
                        </div>
                        <div class="faq-a">
                            {{ block.settings.answer }}
                        </div>
                    </div>
                  {% endif %}
                {% endfor %}

                <h2>Orders and Payment</h2>
                {% for block in section.blocks %}
                  {% if block.type == 'q_orders' %}
                    <div class="faq-question {% if forloop.first == true %} question-open{% endif %}">
                        <div class="faq-q">
                            <span class="faq-q-text">{{ block.settings.question }}</span>
                            <span class="faq-icon faq-icon__minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"><g><g><g>
                                    <path fill="#111" d="M20.664 13.4H7.8c-.593 0-1.081.493-1.081 1.102 0 .605.484 1.103 1.081 1.103h12.867c.594 0 1.082-.493 1.082-1.103-.005-.605-.488-1.102-1.086-1.102z"/></g><g>
                                    <path fill="#111" d="M27.966 14.5a14.134 14.134 0 0 1-4.023 9.9 13.715 13.715 0 0 1-4.365 2.998 13.411 13.411 0 0 1-5.345 1.102c-1.855 0-3.653-.372-5.346-1.102A13.642 13.642 0 0 1 4.522 24.4 14.133 14.133 0 0 1 .5 14.5c0-1.891.365-3.724 1.081-5.45A13.938 13.938 0 0 1 4.522 4.6a13.714 13.714 0 0 1 4.365-2.998A13.41 13.41 0 0 1 14.233.5c1.855 0 3.653.372 5.35 1.102a13.643 13.643 0 0 1 4.365 2.999 14.01 14.01 0 0 1 2.94 4.45 14.21 14.21 0 0 1 1.078 5.449zm-1.433 0c0-6.915-5.517-12.54-12.3-12.54-6.783.001-12.3 5.625-12.3 12.54 0 6.915 5.517 12.54 12.3 12.54s12.3-5.625 12.3-12.54z"/></g></g></g>
                                </svg>
                            </span>
                            <span class="faq-icon faq-icon__plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29"><g><g><g>
                                    <path fill="#111" d="M20.664 13.396h-5.35V7.942c0-.605-.484-1.102-1.081-1.102-.594 0-1.082.493-1.082 1.102v5.459h-5.35c-.593 0-1.081.493-1.081 1.102 0 .605.484 1.103 1.081 1.103h5.355v5.458c0 .605.483 1.102 1.081 1.102.593 0 1.081-.493 1.081-1.102v-5.463h5.355c.593 0 1.081-.493 1.081-1.102-.009-.605-.492-1.103-1.09-1.103z"/></g><g>
                                    <path fill="#111" d="M27.966 14.5a14.134 14.134 0 0 1-4.023 9.9 13.715 13.715 0 0 1-4.365 2.998 13.411 13.411 0 0 1-5.345 1.102c-1.855 0-3.653-.372-5.346-1.102A13.642 13.642 0 0 1 4.522 24.4 14.133 14.133 0 0 1 .5 14.5c0-1.891.365-3.724 1.081-5.45A13.938 13.938 0 0 1 4.522 4.6a13.714 13.714 0 0 1 4.365-2.998A13.41 13.41 0 0 1 14.233.5c1.855 0 3.653.372 5.345 1.102a13.643 13.643 0 0 1 4.365 2.999 14.134 14.134 0 0 1 4.022 9.9zm-1.433 0c0-6.915-5.517-12.54-12.3-12.54-6.783.001-12.3 5.625-12.3 12.54 0 6.915 5.517 12.54 12.3 12.54s12.3-5.625 12.3-12.54z"/></g></g></g>
                                </svg>
                            </span>
                        </div>
                        <div class="faq-a">
                            {{ block.settings.answer }}
                        </div>
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script defer>
    const questions = document.querySelectorAll('.faq-q');

    for(let i = 0; i < questions.length; i++){
        questions[i].addEventListener('click', e => {

            let openQuestions = document.querySelectorAll('.question-open');

            e.target.closest('.faq-question').classList.toggle('question-open');
        });
    }

</script>

{% schema %}
{
    "name": "FAQs",
    "settings": [
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "type": "faq_image",
            "name": "FAQ Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "faq_image",
                    "label": "Image"
                }
            ]
        },
        {
            "type": "q_general",
            "name": "General",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        },
        {
            "type": "q_spec",
            "name": "Specfications",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        },
        {
            "type": "q_shipping",
            "name": "Shipping/ Delivery",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        },
        {
            "type": "q_orders",
            "name": "Orders/ Payment",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        }
    ]
}
{% endschema %}
